/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* CONTAINER */
.assignments a:hover
{ text-decoration: underline }
.assignments_main_container 
{ width: 835px; margin: 30px; position: relative;}

/* TOP TABS */
.assignments .assignments_main_tabs
{ background: url('/devwidgets/assignments/images/tabs_tl.png') top left no-repeat; margin:-25px 0 0; height: 25px; border: none; padding-left: 5px; display: block; width:470px;}
.assignments .assignments_main_tabs ul
{ background: url('/devwidgets/assignments/images/tabs_tr.png') top right no-repeat; padding-top: 3px; margin: 0; border-bottom: none; }
.assignments .assignments_main_tabs ul li
{ margin: 0; padding: 0; background: transparent; border: none; display: block; float: left; }
.assignments .assignments_main_tabs ul li a
{ padding: 4px 25px; line-height: 20px; background: transparent; border: none; color: #454a4e; display: block; float: left; margin: 0; position: relative; bottom: 0px !important; }
.assignments .assignments_main_tabs ul li.fl-activeTab
{ background: #FFF url('/dev/_images/tab_corner_tl.png') top left no-repeat; height: 28px; padding-left: 5px; position: relative; bottom: 0px !important;  }
.assignments .assignments_main_tabs ul li.fl-activeTab a
{ background: #FFF url('/dev/_images/tab_corner_tr.png') top right no-repeat; font-weight: normal; padding-left: 15px; margin: 0; position: relative; bottom: 0px !important; }

/* DROPDOWN */
.assignments .assignments_dropdown
{ background-color: #fff; border: 1px solid #cbd0d4; border-top: none; font-size:12px;padding:5px; position: absolute; right: 8px; top: 3px; z-index:4;}
.assignments .assignments_dropdown ul li
{ list-style-type: none;}

/* CONTENT */
.assignments .assignments_content_top
{ background: url('/dev/_images/content_tr.gif') top right no-repeat; padding: 0 5px 0 0; margin: 0; }
.assignments .assignments_content_top_inner
{ background: url('/dev/_images/content_tl.gif') 0 0 no-repeat; margin: 0; height: 6px; }
.assignments .assignments_content_bottom
{ background: url('/dev/_images/content_br.png') top right no-repeat; padding: 0 5px 0 0; margin: 0; }
.assignments .assignments_content_bottom_inner
{ background: url('/dev/_images/content_bl.png') 0 0 no-repeat; margin: 0; height: 6px; }
.assignments
{ margin: 0; padding:20px 0 5px; position:relative; }
.assignments h3.assignments_icon
{ color: #878a8c; background: url('/devwidgets/assignments/images/assignments_icon.png') 0 0 no-repeat; float: left; font-size:1.05em; font-weight:normal; margin: 0 15px 5px 15px; padding:4px 28px;}
.assignments #assignments_add
{ float: right; margin-right:20px }
.assignments a
{ color: #016d96; font-weight: bold }
.assignments #assignments_add:hover
{ background: transparent url(/devwidgets/assignments/images/blue_button_left.png) top left no-repeat }
.assignments #assignments_add:hover input
{ background: url(/devwidgets/assignments/images/blue_button_right.png) top right no-repeat }

/* LIST */
.assignments .assignments_list ul
{}
.assignments .assignments_list ul li
{ border-top: 1px solid #d3d7d9; clear: both; list-style-type:none; position: relative }
.assignments .assignments_list ul li div.assignments_list_item
{ background-color:#fff; border: 2px solid #fff; height:50px; padding:2px}
.assignments .assignments_list ul li div.assignments_list_grey_container
{ background-color: #f5f6f6; border: 2px solid #f5f6f6;}
.assignments .assignments_list ul li div.assignments_list_yellow_container
{ background-color: #ffffed; border: 2px solid #f1e495;}


.assignments .assignments_list .assignments_list_opacity
{ opacity: 0.5 }
.assignments .assignments_list .assignments_list_due
{ float: left; width: 36px}
.assignments .assignments_list .assignments_list_due span
{ display: block}
.assignments .assignments_list .assignments_list_due .assignments_list_due_past
{ color: #fff; font-size: 10px; margin-top: 10px;}
.assignments .assignments_list .assignments_list_due .assignments_list_due_in
{ font-size: 10px; font-weight: bold; text-transform:uppercase;}
.assignments .assignments_list .assignments_list_due .assignments_list_due_time
{ font-weight: bold; text-align: center;}
.assignments .assignments_list .assignments_list_due .assignments_list_due_time .assignments_list_due_time_number
{ color: #000; font-size: 14px; padding-top:1px; }
.assignments .assignments_list .assignments_list_due .assignments_list_due_time .assignments_list_due_time_format
{ color: #fff; font-size: 8px; padding-top: 1px}
.assignments .assignments_list .assignments_list_due_red_complete .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_red_complete.png') 0 0 no-repeat; }
.assignments .assignments_list .assignments_list_due_red_complete .assignments_list_due_time .assignments_list_due_time_number
{ color: #fff}
.assignments .assignments_list .assignments_list_due_red_part .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_red_part.png') 0 0 no-repeat; }
.assignments .assignments_list .assignments_list_due_brown_part .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_brown_part.png') 0 0 no-repeat; }
.assignments .assignments_list .assignments_list_due_black_part .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_black_part.png') 0 0 no-repeat; }
.assignments .assignments_list .assignments_list_due_black_complete .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_black_complete.png') 0 0 no-repeat; }
.assignments .assignments_list .assignments_list_due_grey_part .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_grey_part.png') 0 0 no-repeat; }
.assignments .assignments_list .assignments_list_due_grey_complete .assignments_list_due_time 
{ background: url('/devwidgets/assignments/images/due_grey_complete.png') 0 0 no-repeat; }

.assignments .assignments_list .assignments_list_info
{ float:left; margin: 8px 0 0 15px; width: 300px }
.assignments .assignments_list .assignments_list_info p 
{ padding: 0; margin: 0px }
.assignments .assignments_list .assignments_list_info .assignments_list_info_big
{ color: #006e96; font-size: 13px; font-weight: bold }
.assignments .assignments_list .assignments_list_info .assignments_list_info_small
{ color: #85898A; font-size: 11px; }
.assignments .assignments_list .assignments_list_info .assignments_list_info_small .assignments_list_info_bold
{ color: #454a4f; font-size: 10px; font-weight: bold }
.assignments .assignments_list .assignments_list_info .assignments_list_info_small .assignments_list_info_small_new
{ margin-right: 5px; position:relative; top:3px; }

/* LIST BUTTONS */
.assignments .assignments_list .assignments_list_buttons
{ float: left; margin-top: 12px }
.assignments .assignments_list .assignments_list_buttons div
{ float: left; margin-left: 3px }
.assignments .assignments_list .assignments_list_buttons .assignements_list_hover
{ cursor:pointer }
.assignments .assignments_list .assignments_list_buttons .assignements_list_hover a
{ text-decoration: underline }
.assignments .assignments_list .assignments_list_buttons span
{ display:block; color: #85898a; font-size: 11px; padding: 7px 5px 5px 29px }
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_people
{ -moz-border-radius-bottomright: 4px; -moz-border-radius-topright: 4px; -webkit-border-bottom-right-radius: 4px; -webkit-border-top-right-radius: 4px; background: #fff url('/devwidgets/assignments/images/button_people_bg.png') center center no-repeat; border: 1px solid #cbd0d4; margin: 0; padding:9px 9px 6px 10px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_people:hover
{ border: 1px solid #0c0c0d }
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_people_selected
{ -moz-border-radius: 0; -border-radius: 0; -webkit-border-radius: 0px; border: 1px solid #0c0c0d; border-bottom: none; }
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_people_selected:hover
{ border-bottom: none}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_settings
{ border: 1px solid #fff; background: url('/devwidgets/assignments/images/button_settings_bg.png') 0 0 no-repeat; height:27px; width: 43px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_settings:hover,
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_settings_selected
{ background-color: #fff; border: 1px solid #cbd0d4 !important; -webkit-border-radius: 4px; -moz-border-radius: 4px }
.assignments .assignments_list_grey_container .assignments_list_buttons .assignments_list_button_settings
{ border: 1px solid #f5f6f6}
.assignments .assignments_list_yellow_container .assignments_list_buttons .assignments_list_button_settings
{ border: 1px solid #ffffed}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_submission
{ background: url('/devwidgets/assignments/images/button_submission_bg.png') 0 0 no-repeat; height:29px; width: 81px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_submission_re
{ background: url('/devwidgets/assignments/images/button_submissionre_bg.png') 0 0 no-repeat; height:29px; width: 107px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_submission_re span
{ padding-left: 44px;}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_submission_ok
{ background: url('/devwidgets/assignments/images/button_submissionok_bg.png') 0 0 no-repeat; height:29px; width: 107px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_submission_ok span
{ padding-left: 40px;}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_submission_gr
{ background: url('/devwidgets/assignments/images/button_submissiongr_bg.png') 0 0 no-repeat; height:29px; width: 107px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_discussion
{ -moz-border-radius: 4px; -moz-border-radius: 4px; background: #fff url('/devwidgets/assignments/images/button_discussion_bg.png') 2px 5px no-repeat; border: 1px solid #cbd0d4; height:27px; width: 76px}
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_discussion:hover
{ border: 1px solid #0c0c0d }
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_discussion span
{ padding-left: 24px }
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_discussion .assignments_notbold
{ font-weight: normal }
.assignments .assignments_list .assignments_list_buttons .assignments_list_button_discussion .assignments_list_highlight
{ background: #ded58b; color: #016D96; display:inline; font-weight:bold; padding: 1px }

.assignments .assignments_zip_overlay
{ cursor:pointer; display: none; left: 327px; position:absolute; top: 16px; z-index: 10 }

/* SETTINGS */
.assignments .assignments_list .assignments_list_settings
{ background: #fff; display: none; position: absolute; right:8px; top:42px; z-index:8 }
.assignments .assignments_list .assignments_list_settings ul
{ border: 1px solid #cbd0d4; padding: 0 !important}
.assignments .assignments_list .assignments_list_settings ul li
{ border: none }
.assignments .assignments_list .assignments_list_settings a
{ color: #454a4f; display: block; font-weight: normal; padding:3px 5px; }
.assignments .assignments_list .assignments_list_settings a:hover
{ background-color: #dceffd; text-decoration: none }

/* WARNING & INFO */
.assignments .assignments_warning
{ color:#BB2929; font-weight:bold;}
.assignments .assignments_warning_container 
{ background-color:#F6E0E0; color:#BB2929; left:275px; padding:2px; position:absolute; top:2px; width:auto; }
.assignments .assignments_info_container
{ background-color:#f1e495; color:#000; left:310px; padding:2px; position:absolute; top:2px; width:auto; }
.assignments .assignments_info2_container
{ background-color:#f8f1ca; color:#000; left:190px; padding:2px; position:absolute; top:2px; width:auto; }
.assignments .assignments_list ul li div.assignments_list_warning_container
{ background-color:#F6E0E0; }

/* PEOPLE INFO */
.assignments .assignments_list_people_info
{ background: url("/devwidgets/assignments/images/button_submission_dropdown_bg.png") no-repeat; display: none; float: right; margin-top: -1px; }
.assignments .assignments_list_people_info .assignments_list_people_info_zero
{ color: #898989 }
.assignments .assignments_list .assignments_list_people_info ul li
{ border: none; clear: none; display: block; margin:9px 0; float: left; width: 117px }
.assignments .assignments_list_people_info_link
{ display:block; float:left; font-size:11px; line-height:13px; margin-right:4px; text-align:right; text-transform:uppercase; width:82px }
.assignments .assignments_list_people_info_number
{ display: block; float: left; font-size:27px; font-weight:bold; line-height:24px }

/* BIG TOOLTIP */
.assignments .assignments_list_tooltip_big
{ background: url("/devwidgets/assignments/images/tooltip_big_bg.png"); display: none; height: 294px; position: absolute; right: 0; top: 180px; width: 407px; z-index: 10 }
.assignments .assignments_list_tooltip_big1
{ top: 61px }
.assignments .assignments_list_tooltip_big_container
{ margin: 32px 37px 32px 68px }
.assignments .assignments_list_tooltip_big_container .assignments_list_tooltip_big_title
{ color: #0b6297; font-weight: bold; padding: 2px 0 }
.assignments .assignments_list_tooltip_big_container .assignments_list_tooltip_big_text
{ color: #494949}
.assignments .assignments_list_tooltip_big_container .assignments_list_tooltip_big_locations
{ font-size: 11px}
.assignments .assignments_list_tooltip_big_container .assignments_list_tooltip_big_locations a
{ font-weight: normal}
.assignments .assignments_list_tooltip_big_container .assignments_list_tooltip_big_actions
{ background: #f1e495; color: #000; font-weight: bold; padding: 5px; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px }
.assignments .assignments_list_tooltip_big_close
{ background: url("/devwidgets/assignments/images/tooltip_big_close.png"); display: block; height: 40px; position: absolute; right: -1px; top: -1px; width: 40px }
.assignments .assignments_list_tooltip_big_close span
{ display: block; overflow: hidden; text-indent: -9999em }

/* PEOPLE TOOLTIP */
.assignments .assignments_people_tooltip
{ background: url("/devwidgets/assignments/images/tooltip_verybig_bg.png"); display: none; height: 254px; position: absolute; right: 0; top: 110px; width: 635px; z-index: 10 }
.assignments .assignments_people_tooltip_container
{ margin: 35px 25px}
.assignments .assignments_people_tooltip_container h3
{ color: #878a8c; font-size: 1.1em; font-weight: normal }
.assignments .assignments_people_tooltip_container h4
{ color: #45494e; font-size: 1.2em; }
.assignments .assignments_people_tooltip_container .assignments_people_actions_container_sub
{ float: left; font-size:0.9em; margin:25px 6px 0 0}
.assignments .assignments_people_tooltip_container ul
{ float: left; margin-right:6px }
.assignments .assignments_people_tooltip_container ul li
{ list-style-type: none; margin-top: 10px }

/* BUTTON */
.assignments .assignments_button
{ background: #fff; border: 1px solid #cbd0d4; color: #454a4f; font-weight: normal; padding: 2px 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px }
.assignments .assignments_button_up, .assignments .assignments_button_down
{ padding: 2px 12px 2px 30px}
.assignments .assignments_button_up
{ background: #fff url("/devwidgets/assignments/images/arrow_up_big.png") no-repeat 7px 5px }
.assignments .assignments_button_down
{ background: #fff url("/devwidgets/assignments/images/arrow_down_big.png") no-repeat 7px 6px }

/* DOWNLOADING */
#assignments_downloading
{ background:#000; display:none; height:172px; padding-top:160px; position:absolute; text-align:center; top:68px; width:632px; z-index:20; }
#assignments_downloading p 
{color: #fff !important }